<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - Workout App">Workout App</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <!-- Common navbar -->
    <div th:replace="~{layout/fragments/navbar :: navbar}"></div>

    <!-- Content -->
    <main layout:fragment="content"></main>

    <!-- Common footer -->
    <div th:replace="~{layout/fragments/footer :: footer}"></div>
    <th:block layout:fragment="pageScripts"></th:block>
</body>

</html>